<!doctype html>
<html>
  <head>
    <title>Onitama</title>
    <style>
    </style>
  </head>
  <body>
    <svg id="game-board"></svg>
    <script src="/static/js/require.js" data-main="/static/js/index"></script>
  </body>
</html>
