extends base
block masthead

block content
  .landing-screen
      form#name-form
        h1 Onitama
        small Enter your name...

        .name-line
          input#name(type=text, disabled=disabled, placeholder="Enter your name")
          input(type="submit", value="Join")

        .rejoin
          span
            | You appear to have a rejoin code for this room. Click the button
            | below if you want to rejoin as the player you were previously.
          button#rejoin-button(type="button") Rejoin
            

  .game-container
    svg#game-board(xmlns:xlink="http://www.w3.org/1999/xlink")
    .game-log
      ul#log-lines
      input#chat-box(type="text")
  script.
    window.onifig = {
      gameSessionId: "#{session.id}"
    };

  script(src="/static/js/require.js", data-main="/static/js/index")
