doctype html
html
  head
    title Onitama
  body
    svg#game-board
    script.
      window.onifig = {
        gameSessionId: "#{session.id}"
      };

    script(src="/static/js/require.js", data-main="/static/js/index")
