extends base
block content
  .game-container
    svg#game-board(xmlns:xlink="http://www.w3.org/1999/xlink")
    ul#game-log
  script.
    window.onifig = {
      gameSessionId: "#{session.id}"
    };

  script(src="/static/js/require.js", data-main="/static/js/index")
