extends base
block content
  .lobby
    p
      | Onitama is a two player abstract board game. You can play it online
      | here! Below is a list of in-progress games. To start a new game click
      | the "new game" button and distribute the url to another player to join.

    p
      | Be sure to read #[a(href="http://www.arcanewonders.com/resources/Onitama_Rulebook.PDF") the rules] if you haven't played before.

    a.new-game(href="/new-game") New Game

    table#game-table
      thead
        tr
          td Game
          td Last Action
          td State
          td Spectators
          td
      tbody
        tr.loading
          td(colspan="5") Loading

  script(src="/static/js/require.js", data-main="/static/js/lobby")
