extends base
block content
  .new-game
    form(method="POST" action="/new-game")
      label
        span Game Name:
        input(type="text" name="name" maxlength="128")

      #card-select-list
      #card-selection-inputs

      #opponent
        span.label Opponent
        label
          input(type="radio", name="opponent", value="human", selected="selected")
          span Human

        label
          input(type="radio", name="opponent", value="ai")
          span AI
        

      input(type="submit" value="Create Game")

  script(src="/static/js/require.js", data-main="/static/js/new-game")
