.landing-screen {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
}

.landing-screen #name-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-screen #name-form .name-line {
  margin-top: 20px;
  display: block;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid lightgrey;
}

.landing-screen #name-form .name-line #name {
  border: none;
  padding: 5px;
}

.landing-screen #name-form .name-line input[type="submit"] {
  -webkit-appearance: none;
  border: none;
  border-left: 1px solid lightgrey;
  background-color: white;
  cursor: pointer;
}

.landing-screen small {
  display: block;
}

.landing-screen .rejoin {
  margin-top: 20px;
  max-width: 70%;
  display: none;
}

.landing-screen .rejoin span {
  display: block;
  margin-bottom: 10px;
}

.game-container {
  display: none;
  height: 100vh;
  flex-direction: column;
  padding: 8px;
  box-sizing: border-box;
}

.game-container #game-board {
  flex: 1;
}

.game-log {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0;
  overflow: hidden;
}

.game-log #log-lines {
  list-style: none;
  height: 7em;
  padding: 0;
  margin: 0;
  overflow: hidden;
  overflow-y: scroll;
}


.game-log #log-lines > li.log-message {
  border-bottom: 1px solid #EEE;
  padding: 2px 5px;
  font-family: sans-serif;
}

.game-log #log-lines > li.log-message:nth-child(even) {
  background: #F9F9F9;
}

.game-log #log-lines > li.log-message:nth-child(odd) {
  background: #FFF;
}

.game-log #chat-box {
  border: none;
  border-top: 1px solid black;
  width: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
}

.masthead h1 {
  text-shadow: 0px 1px 1px #4D4D4D;
  font-family: Helvetica, sans-serif;
  color: #222;
  margin: 10px 8px;
}

.lobby {
  padding: 8px;
}

.landing-screen #rejoin-button,
.lobby .new-game,
.new-game input[type="submit"]{
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  background-color: white;
  cursor: pointer;
}

.lobby .new-game {
  float: right;
}

.landing-screen #rejoin-button {
  display: inline-block;
}

.lobby #game-table {
  border-spacing: 0;
  width: 100%;
}

.lobby #game-table td {
  border-bottom: 1px solid #DDD;
  padding: 3px 10px;
}

.lobby #game-table .game-row:nth-child(odd) > td {
  background-color: #F3F3F3;
}

.lobby #game-table .no-games-row td {
  text-align: center;
  padding: 20px;
}

.new-game {
  padding: 8px;
}

.new-game label {
  display: block;
  margin-bottom: 5px;
}

.new-game label span {
  margin-right: 10px;
}

#card-select-list {
  list-style: none;
  padding: 10px;
  margin: 0;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
}
